{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}AdvMap{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'core/style.css' %}">
</head>
<body>

  <nav class="navbar">
  
     <div class="navbar-container">
    <!-- Logo -->
    <a href="{% url 'home' %}" class="navbar-logo">
      <img src="{% static 'images/advmap_logo.png' %}" alt="AdvMap Logo">
    </a>

    <!-- Navigation Links -->
    <div class="navbar-links">
      <a href="/about/">About</a>
      <a href="/map/">Map</a>
      <a href="/blog/">Blog</a>
    </div>
  </div>
</nav>
<main>
  {% block content %}
  <p>Testinhalt – sollte sichtbar sein.</p>
  {% endblock %}
</main>